a{
    text-decoration: none !important;
    color: black;
}

/* Navigation bar styles ============= */
#mainNav {
    background-color: grey;
    font-family: 'Arial', 'Helvetica', 'Arial', 'sans-serif';
}

/* Format the Navbar Text*/
#mainNav .navbar-brand {
    color: white;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    /* Add glowing effect */
    animation: glow 1s ease-in-out infinite alternate;
}

/* Add background glow for Name */
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #757575, 0 0 40px #757575, 0 0 50px #757575, 0 0 60px #757575, 0 0 70px #757575;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #dbf372, 0 0 40px #dbf372, 0 0 50px #dbf372, 0 0 60px #dbf372, 0 0 70px #dbf372, 0 0 80px #dbf372;
    }
}

/* Add gold color on hover of Name */
#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
    color: #a07301;
}


/* Background image for hero grid*/
header.masthead {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/hero-bg.jpg"); 
}

/* Adjust spacing around container */
.masthead  h3{
    margin-right: 100px;
    padding: 20px;
    background-color: whitesmoke;
    color: black;

    border-color: black;
    border-radius: 50px;
    border-style: solid;
    border-width: 5px;        

}


/* Border of image*/
.masthead .img-fluid{
    
    height: 200px;
    border-color: black;
    border-radius: 50px;
    border-style: solid;
    border-width: 5px;
}

/* Required to remove scroll bars */
.card-deck{
    margin: auto;
}
/* Set card image height */
.card-img-top{
    height: 200px;
}

/* Limit skills div size */
#skills, #contact{
    margin: 10px auto;
    padding:50px;
}

/* Add hover with underline box-shadow on Link*/
.nav-item a:hover{
    box-shadow:0px 3px #a07301 ;
}
/* Add hover with box-shadow on Link*/
.card:hover{
    box-shadow: 3px 3px #a07301 ;
}
